<ion-header>
  <ion-toolbar>

    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button size="full" href="/form">Form</ion-button>
  <ion-button size="full" href="/tabs/main">Tabs</ion-button>
  <ion-button size="full" href="/grid">Grid</ion-button>
  <ion-button size="full" href="/fab">FAB</ion-button>
  <ion-button size="full" href="/list">List</ion-button>
  <ion-button size="full" href="/reorder">Reorder</ion-button>
  <ion-button size="full" href="/infinite-scroll">Infinite Scroll</ion-button>
  <ion-button size="full" href="/pull-to-refresh">Pull To Refresh</ion-button>
  <ion-button size="full" href="/slides">Slides</ion-button>
  <ion-button size="full" href="/loading">Loading</ion-button>
  <ion-button size="full" href="/modal">Modal</ion-button>
  <ion-button size="full" href="/picker">Picker</ion-button>
  <ion-button size="full" href="/action-sheet">Action Sheet</ion-button>
  <ion-button size="full" href="/alert">Alert</ion-button>

</ion-content>